
body {
    background-color:#74FFE8;
}
.xqy {
      background:url(../bg.jpg) no-repeat;
	width:100%;
	height:500px;
	background-size:cover;
 border-radius:32px;

}

.toux img{
	margin-left:42.5%;
	margin-right:42.5%;
	margin-top:10%;
	position:relative;
	border-radius:10%;
	width:15%;
	height:15%；
	border:none;
   border: 0px solid #fff;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.55);
    -webkit-transition: 0.4s;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    
 
}
div .toux hr {
	width:2px;
	height:7%;
	margin-top:-1%;
	background-color:#fff;
	border:none;
}
div .toux  .hen{
	width:75%;
	height:2px;
    margin-top:-10px;
	background-color:#fff;
	border:none;
}
div .toux  .hen2{
	width:75%;
	height:2px;
    margin-top:0px;
	background-color:#fff;
	border:none;
}

div .toux h1 {
	position:relative;
	text-align:center;
	top:-5px;
	font-size:2.5em;
	color:#fff;
	font-weight:bolder;
    background-image: linear-gradient(135deg,#EAD6EE,#A0F1EA);/*彩色字体*/
    -webkit-background-clip:text;
    color: transparent;
}
div .toux p {
	position:relative;
	text-align:center;
	top:-20px;
	font-size:1.3em;
	color:#fff;
    background-image: linear-gradient(135deg,#EAD6EE,#A0F1EA);/*彩色字体*/
    -webkit-background-clip:text;
    color: transparent;
}
div .toux .hen3 {
	width:2px;
	height:7%;
	top:-15px;
	margin-top:-8px;
	background-color:#fff;
	border:none;
}
nav {
	position:relative;
	text-align: center;
	margin-top:13px;
}
div .daohang a { 
	margin-left:4%;
	margin-right:4%;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	text-align: justify;
	text-decoration: blink;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	color: #fff;
	padding-top: 9px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	border-radius:5px;
	position:relative;
	display:inline-block;
}
div .daohang a:hover {
	background-color:#ccc;
	color:#fff;
}
footer p {
	text-align: center;
	color:#ccc;
	margin-top:150px;
}
footer p a{
    color:#fff;
    text-decoration: blink;
    
}
